<a href="/teacher/option" class="btn btn-info" style="margin-top:5px;">Back</a>
<h4>Add New Result</h4>
<form method="POST" class="addStu" autocomplete="off">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Roll No. : </label>
      <input type="number" name="roll" required class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name : </label>
        <input type="text" name="name" required class="form-control" id="exampleInputEmail1" >
      </div>
      
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Date of Birth : </label>
        <input type="date" name="dob" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Score : </label>
        <input type="number" name="score" required class="form-control" id="exampleInputEmail1">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/teacher/viewall" class="btn btn-primary">View All</a>
</form>