<a href="/" class="btn btn-warning" style="margin-right:5px;">Logout</a>
<div class="optionDiv">
    <a href="/teacher/viewall" class="btn btn-primary">View All Students</a>
    <a href="/teacher/add" class="btn btn-primary">Add Record</a>
</div>